<a href="https://colab.research.google.com/github/GodfreyPurification/ANPR/blob/main/Class_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_name = input()
last_name = input()
last_name= "Rahman"
age = int(input())
cgpa = float(input())
age -= 2
cgpa += 0.25
print("Name: "+first_name+" "+last_name)
print("Age:"+ str(age))
print("CGPA:", cgpa)

Sifat
Tanvir
25
3.3
Name: Sifat Rahman
Age:23
CGPA: 3.55

In [ ]:
num = int(input())

if (num % 2 == 0):
  print("Even")
else:
  print("Odd")

13

In [ ]:
num = int(input())

if num == 0:
  print("Zero")
elif num > 0:
  print("Positive")
else:
  print("Negative")

-1
Negative

In [ ]:
#Nested
num = int(input())

if num % 5 == 0:
  if num % 7 == 0:
    print("Yes")
  else:
    print("No")
else:
  print("No")

14
No

In [ ]:
#Multiple Conditioning
num = int(input())

if num % 5 == 0 and num % 7 == 0:
  print("Yes")
else:
  print("No")

15
No

In [ ]:
num = int(input())

if num % 5 == 0 and num % 7 != 0:
  print("Yes")
elif num % 5 != 0 and num % 7 == 0:
  print("Yes")
else:
  print("No")

14
Yes

In [ ]:
quiz = int(input("Quiz: "))
mid = int(input("Mid: "))
final = int(input("Final: "))

total = quiz+mid+final
print("Total Marks:", total)

if total >= 90:
  print("Grade: A")
elif 80 <= total <= 89:
  print("Grade: B")
elif 70 <= total <= 79:
  print("Grade: C")
else:
  print("Grade: F")

if 50 <= total <= 80:
  print("Grade: A")

Quiz: 30
Mid: 20
Final: 30
Total Marks: 80
Grade: B
Grade: A

In [ ]:
for tahmid in range (11, 21, 3): #(start, end, step)
  print(tahmid)

11
14
17
20

In [ ]:
s= "Red Blue White Red Blue Black Yellow Red"

list1= s.split(" ")
count=0
for i in list1:
  if i=="Red":
    count+=1

print(count)

3

In [ ]:
sum = 0
for i in range(5):
  num = int(input())
  sum = sum + num

avg = sum/5
print(avg)

5
10
15
20
8
11

# Strings

In [ ]:
name = 'Godfrey Purification'
name2 = "123"
name3 = "@#$"

print(name+" "+name2+" "+name3)
print(name, name2, name3)

Godfrey Purification 123 @#$
Godfrey Purification 123 @#$

In [ ]:
# indexing
idx=-1
for i in range(0, len(name)):
  if name[i] =="P":
    idx= i
    break
print(i)
print(name[0:2]+name[idx:idx+2])

8
GoPu

In [ ]:
# Slicing
print(name[0:3]+name[-4:])

Godtion

In [ ]:
print(name[0])
print(name[len(name)-1])
print(name[-1])
print(name[-len(name)])

G
y
y
G

In [ ]:
s= "He11o"
# for i in s:
#   if (i=="l"):
#     print("Yess")
#     break
print("1" in s)

True

# Password Validation

In [ ]:
password= input()
if len(password)<8:
  print("Invalid Password")
  print("Not enough length")
else:
  upper= 0
  lower= 0
  digit= 0
  special= 0

  for i in password:
    if "A"<=i<="Z":
      upper= upper+1
    elif "a"<=i<="z":
      lower = lower+1
    elif "0"<= i <= "9":
      digit +=1
    elif i in "@#!%$&^*_":
      special += 1

  if (upper>0 and lower>0 and digit>0 and special>0):
    print("Valid Password")
  else:
    print("Invalid Password")
    if (upper ==0):
      print("Upper case missing")
    if (lower ==0):
      print("Lower case missing")
    if (digit ==0):
      print("Digits missing")
    if (special ==0):
      print("Special Character missing")

gfhh
Invalid Password
Not enough length

# Lists

In [ ]:
l1= [5, 6.0, True]
# l1.append(7)
print(l1)

[5, 6.0, True]

In [ ]:
import numpy as np
arr = np.array([5,6,7])
print(arr)

[5 6 7]

In [ ]:
s= "Hello world. Nillce to llmeet you!"
l1= s.split("ll")
print(l1)

Hello world.          Nillce to llmeet you!

# Functions

In [ ]:
def difference (num1, num2):
  if num1>num2:
    # pass
    return num1-num2
  else:
    # pass
    return num2-num1

In [ ]:
print(difference(5,6))
print(difference(10,6))
print(difference(-5,6))

x = difference(5,60)
print(x)

None
None
None
None

In [ ]:
def number_range(mithu, anika):
  for sobuj in range (mithu, anika+1):
    print(sobuj)

In [ ]:
number_range(15,35)
print()
number_range(5, 10)
print()
number_range(5, -5)

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

5
6
7
8
9
10

In [ ]:
def divisibilty(num):
  if num%5==0 and num%10==0 and num%15==0:
    return True
  else:
    return False

In [ ]:
print(divisibilty(115))
print(divisibilty(135))
print(divisibilty(150))

False
False
True